$card-background: #fffefb;
$input-border: grey; // will be change
$text: #3f3f3f;
$page-background: #fffefbcc;
$badge: #ff8484;
$button-background: #eee; 
$color-neutral: #b4b4b4;
$active-button: #7bae73;

