$card-background: #fffefb;
$input-border: grey; // will be change
$text: #3f3f3f;
$page-background: #fffefbcc;
$badge: #ff8484;
$button-hover: #5b9f50;
$button-deactive: #eee;
$color-neutral: #b4b4b4;
$active-button: #7bae73;
